# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
/dist/
/build/
*.spec
*.exe
*.dbg

# Database and local data
*.db
templ.xls

# User-specific / IDE files
.ipynb_checkpoints/
.vscode/
.idea/
Thumbs.db
/%SYSTEMROOT%

# Project specific
k2p2viewer.db